Repository holyaime/Optimisation-Celebrity-Net: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, trailing-whitespace-fixer, end-of-file-fixer, check-docstring-first, check-merge-conflict, fix-encoding-pragma, no-commit-to-branch, check-added-large-files, code-formater, sort-imports, linter, test, bandit, semgrep

check-yaml:
  name: check-yaml
  entry: check-yaml
  language: system

trailing-whitespace-fixer:
  name: trailing-whitespace-fixer
  entry: trailing-whitespace-fixer
  language: system

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: system

check-docstring-first:
  name: check-docstring-first
  entry: check-docstring-first
  language: system

check-merge-conflict:
  name: check-merge-conflict
  entry: check-merge-conflict
  language: system

fix-encoding-pragma:
  name: fix-encoding-pragma
  entry: fix-encoding-pragma
  language: system

no-commit-to-branch:
  name: no-commit-to-branch
  entry: no-commit-to-branch
  pass_filenames: false
  language: system

check-added-large-files:
  name: check-added-large-files
  entry: check-added-large-files
  language: system

code-formater:
  name: black
  entry: poetry run python -m black celebrity_recognition_ai tests
  language: system

sort-imports:
  name: isort
  entry: poetry run python -m isort celebrity_recognition_ai tests
  language: system

linter:
  name: flake8
  entry: poetry run python -m flake8 --ignore=E501,W503,E226 celebrity_recognition_ai tests
  language: system

test:
  name: test
  entry: poetry run python -m pytest -v
  language: system

bandit:
  name: bandit
  entry: poetry run python -m bandit -x tests -r celebrity_recognition_ai
  language: system

semgrep:
  name: semgrep
  entry: poetry run semgrep scan
  language: system

feat(model/data): adds pytorch dataset
  celebrity_recognition_ai/ml/data.py
  ntbk.ipynb
  poetry.lock
  pyproject.toml
Due: trailing-whitespace-fixer, end-of-file-fixer, check-docstring-first, check-merge-conflict, fix-encoding-pragma, no-commit-to-branch, check-added-large-files, code-formater, sort-imports, linter, test, bandit, semgrep

feat(model/architecture): adds an efficientnet b4 backboned transfert learning model
  celebrity_recognition_ai/ml/models.py
  ntbk.ipynb
Due: trailing-whitespace-fixer, end-of-file-fixer, check-docstring-first, check-merge-conflict, fix-encoding-pragma, no-commit-to-branch, check-added-large-files, code-formater, sort-imports, linter, test, bandit, semgrep

feat(ci): make build and deploy steps manual
  .gitlab-ci.yml
Due: check-yaml

feat(model/training): adds training and validation logic
  celebrity_recognition_ai/ml/engine.py
Due: trailing-whitespace-fixer, end-of-file-fixer, check-docstring-first, check-merge-conflict, fix-encoding-pragma, no-commit-to-branch, check-added-large-files, code-formater, sort-imports, linter, test, bandit, semgrep

refactor: delete manual option at build step
  .gitlab-ci.yml
Due: check-yaml

feat(model/training): adds training and validation logic
  celebrity_recognition_ai/ml/engine.py
  poetry.lock
  pyproject.toml
Due: trailing-whitespace-fixer, end-of-file-fixer, check-docstring-first, check-merge-conflict, fix-encoding-pragma, no-commit-to-branch, check-added-large-files, code-formater, sort-imports, linter, test, bandit, semgrep

feat(model/training):add of precision compute and accuracy
  celebrity_recognition_ai/ml/engine.py
Due: trailing-whitespace-fixer, end-of-file-fixer, check-docstring-first, check-merge-conflict, fix-encoding-pragma, no-commit-to-branch, check-added-large-files, code-formater, sort-imports, linter, test, bandit, semgrep

feat(model/data): add dataloader
  nbk_h.ipynb
  ntbk.ipynb
  poetry.lock
  pyproject.toml
Due: none

feat(model/data): test with Almamy
  celebrity_recognition_ai/ml/data.py
Due: trailing-whitespace-fixer, end-of-file-fixer, check-docstring-first, check-merge-conflict, fix-encoding-pragma, no-commit-to-branch, check-added-large-files, code-formater, sort-imports, linter, test, bandit, semgrep

feat(model/training): adds logging to training
  Makefile
  celebrity_recognition_ai/logging_config.py
  celebrity_recognition_ai/ml/data.py
  celebrity_recognition_ai/ml/engine.py
  nbk_h.ipynb
  poetry.lock
  pyproject.toml
Due: trailing-whitespace-fixer, end-of-file-fixer, check-docstring-first, check-merge-conflict, fix-encoding-pragma, no-commit-to-branch, check-added-large-files, code-formater, sort-imports, linter, test, bandit, semgrep

feat(model/training): adds logging to training
  Makefile
Due: none

ci(app): add manual option to deploying on staging env after merging on develop
  .gitlab-ci.yml
Due: check-yaml

feat(app): add dev rule to makefile in order to install dep and activate pre-comm locally
  Makefile
Due: none

refactor: put dev rule after poetry_install rule for style
  Makefile
Due: none

feat(model/training): adds training logic
  .gitignore
  celebrity_recognition_ai/ml/data.py
  celebrity_recognition_ai/ml/engine.py
  celebrity_recognition_ai/ml/logging_config.py
  celebrity_recognition_ai/ml/train.py
  celebrity_recognition_ai/ml/utils.py
  ntbk.ipynb
  poetry.lock
  pyproject.toml
Due: trailing-whitespace-fixer, end-of-file-fixer, check-docstring-first, check-merge-conflict, fix-encoding-pragma, no-commit-to-branch, check-added-large-files, code-formater, sort-imports, linter, test, bandit, semgrep

feat: add mypy to pyproject.toml and pre-commit config file
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: check-yaml

feat: add mypy to Makefile at test level
  Makefile
Due: none

feat(model/training): the api is working
  celebrity_recognition_ai/app/api.py
  celebrity_recognition_ai/app/frontend.py
  celebrity_recognition_ai/app/utils.py
  celebrity_recognition_ai/ml/data.py
  celebrity_recognition_ai/ml/train.py
Due: trailing-whitespace-fixer, end-of-file-fixer, check-docstring-first, check-merge-conflict, fix-encoding-pragma, no-commit-to-branch, check-added-large-files, code-formater, sort-imports, linter, test, bandit, semgrep

test: add test for mypy tool and update pre-commit config file
  .pre-commit-config.yaml
  Makefile
  celebrity_recognition_ai/ml/data.py
  celebrity_recognition_ai/ml/engine.py
  celebrity_recognition_ai/ml/models.py
  for_mypy/__init__.py
  for_mypy/add.py
  for_mypy/add_with_execpted_args.py
  for_mypy/add_with_unexecpted_args.py
  tests/test_mypy.py
Due: check-yaml, trailing-whitespace-fixer, end-of-file-fixer, check-docstring-first, check-merge-conflict, fix-encoding-pragma, no-commit-to-branch, check-added-large-files, code-formater, sort-imports, linter, test, bandit, semgrep

docs: comment test function test_add_with__execpted
  tests/test_mypy.py
Due: trailing-whitespace-fixer, end-of-file-fixer, check-docstring-first, check-merge-conflict, fix-encoding-pragma, no-commit-to-branch, check-added-large-files, code-formater, sort-imports, linter, test, bandit, semgrep

feat: update Makefile for running mypy with pre-commit command
  Makefile
  for_mypy/add_with_unexecpted_args.py
Due: trailing-whitespace-fixer, end-of-file-fixer, check-docstring-first, check-merge-conflict, fix-encoding-pragma, no-commit-to-branch, check-added-large-files, code-formater, sort-imports, linter, test, bandit, semgrep

feat(model/training): the api is working
  Makefile
Due: none

feat: merges conflicts
  celebrity_recognition_ai/ml/engine.py
Due: trailing-whitespace-fixer, end-of-file-fixer, check-docstring-first, check-merge-conflict, fix-encoding-pragma, no-commit-to-branch, check-added-large-files, code-formater, sort-imports, linter, test, bandit, semgrep

feat: changes the output format of the inference
  celebrity_recognition_ai/app/utils.py
Due: trailing-whitespace-fixer, end-of-file-fixer, check-docstring-first, check-merge-conflict, fix-encoding-pragma, no-commit-to-branch, check-added-large-files, code-formater, sort-imports, linter, test, bandit, semgrep

feat(ci): build project with requirements.txt
  .gitlab-ci.yml
  Makefile
  celebrity_recognition_ai/app/Dockerfile
  poetry.lock
Due: check-yaml

test(ci): make build dev image exec on any branch
  .gitlab-ci.yml
Due: check-yaml

test(ci): add make to build image
  .gitlab-ci.yml
Due: check-yaml

fix(ci): rename build_common and remove some of the stages
  .gitlab-ci.yml
  Makefile
Due: check-yaml

fix(ci): comment out upstream template
  .gitlab-ci.yml
Due: check-yaml

fix(ci): run pipeline with only prod build
  .gitlab-ci.yml
  Makefile
Due: check-yaml

fix(ci): remove build_common
  Makefile
Due: none

fix(ci): remove comment in front of build pipeline
  Makefile
Due: none

build: add dependency for checking type for yaml module
  poetry.lock
  pyproject.toml
Due: none

fix(ci): rename build recipe
  .gitlab-ci.yml
  Makefile
Due: check-yaml

fix(ci): change spaces to tabs in makefile
  Makefile
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  trailing-whitespace-fixer: any of: \.py$
  end-of-file-fixer: any of: \.py$
  check-docstring-first: any of: \.py$
  check-merge-conflict: any of: \.py$
  fix-encoding-pragma: any of: \.py$
  no-commit-to-branch: any of: \.py$
  check-added-large-files: any of: \.py$
  code-formater: any of: \.py$
  sort-imports: any of: \.py$
  linter: any of: \.py$
  test: any of: \.py$
  bandit: any of: \.py$
  semgrep: any of: \.py$
