Repository holyaime/Optimisation-Celebrity-Net: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, trailing-whitespace-fixer, end-of-file-fixer, check-docstring-first, check-merge-conflict, fix-encoding-pragma, no-commit-to-branch, check-added-large-files, code-formater, sort-imports, linter, test, bandit, semgrep

check-yaml:
  name: check-yaml
  entry: check-yaml
  language: system

trailing-whitespace-fixer:
  name: trailing-whitespace-fixer
  entry: trailing-whitespace-fixer
  language: system

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: system

check-docstring-first:
  name: check-docstring-first
  entry: check-docstring-first
  language: system

check-merge-conflict:
  name: check-merge-conflict
  entry: check-merge-conflict
  language: system

fix-encoding-pragma:
  name: fix-encoding-pragma
  entry: fix-encoding-pragma
  language: system

no-commit-to-branch:
  name: no-commit-to-branch
  entry: no-commit-to-branch
  pass_filenames: false
  language: system

check-added-large-files:
  name: check-added-large-files
  entry: check-added-large-files
  language: system

code-formater:
  name: black
  entry: poetry run python -m black celebrity_recognition_ai tests
  language: system

sort-imports:
  name: isort
  entry: poetry run python -m isort celebrity_recognition_ai tests
  language: system

linter:
  name: flake8
  entry: poetry run python -m flake8 --ignore=E501,W503,E226 celebrity_recognition_ai tests
  language: system

test:
  name: test
  entry: poetry run python -m pytest -v
  language: system

bandit:
  name: bandit
  entry: poetry run python -m bandit -x tests -r celebrity_recognition_ai
  language: system

semgrep:
  name: semgrep
  entry: poetry run semgrep scan
  language: system

fix(ci): pass variable to the make build recipe
  .gitlab-ci.yml
  Makefile
Due: check-yaml

fix(ci): reenable other stages of build
  .gitlab-ci.yml
  Makefile
Due: check-yaml

feat: add type hint for engine and models files
  celebrity_recognition_ai/app/api.py
  celebrity_recognition_ai/app/frontend.py
  celebrity_recognition_ai/ml/engine.py
  celebrity_recognition_ai/ml/models.py
Due: trailing-whitespace-fixer, end-of-file-fixer, check-docstring-first, check-merge-conflict, fix-encoding-pragma, no-commit-to-branch, check-added-large-files, code-formater, sort-imports, linter, test, bandit, semgrep

tst(ci): find location of requirements.txt BREAKING CHANGE: build image on any branch.
  .gitlab-ci.yml
  celebrity_recognition_ai/app/Dockerfile
Due: check-yaml

tst(ci): find location of requirements.txt BREAKING CHANGE: build image on any branch.
  .gitlab-ci.yml
Due: check-yaml

test(ci): add export requirements to build
  .gitlab-ci.yml
  Makefile
Due: check-yaml

test(ci): add a requirements stage to export requirements.txt
  .gitlab-ci.yml
  Makefile
  celebrity_recognition_ai/app/Dockerfile
Due: check-yaml

test(ci): add a requirements.txt stage
  .gitlab-ci.yml
Due: check-yaml

test(ci): try out automatic trigger of upcoming jobs
  .gitlab-ci.yml
  Makefile
Due: check-yaml

test(ci): fix manual job trigger
  .gitlab-ci.yml
Due: check-yaml

fix(ci): fix new deployment build for the req.txt approach
  .gitlab-ci.yml
Due: check-yaml

fix(ci): make requirements export needed for main and develop only
  .gitlab-ci.yml
Due: check-yaml

test: add integration test
  tests/integration_tests/ml/test_train.py
Due: trailing-whitespace-fixer, end-of-file-fixer, check-docstring-first, check-merge-conflict, fix-encoding-pragma, no-commit-to-branch, check-added-large-files, code-formater, sort-imports, linter, test, bandit, semgrep

refactor: change some variables in test_engine.py
  tests/test_api.py
  tests/test_empty.py
  tests/unit_tests/ml/test_engine.py
Due: trailing-whitespace-fixer, end-of-file-fixer, check-docstring-first, check-merge-conflict, fix-encoding-pragma, no-commit-to-branch, check-added-large-files, code-formater, sort-imports, linter, test, bandit, semgrep

fix(ci): change only/except to rules
  .gitlab-ci.yml
Due: check-yaml

fix(ci): add rules to deploy_to_prod
  .gitlab-ci.yml
Due: check-yaml

fix(ci): update container port according to Dockerfile port
  .gitlab-ci.yml
Due: check-yaml

fix(ci): restrict deployment to prod and dev on verified conditions
  .gitlab-ci.yml
Due: check-yaml

feat: add frontend folders
  celebrity_recognition_ai/app/static/img/Datakori-bold-black.png
  celebrity_recognition_ai/app/static/img/Datakori-bold-green.png
  celebrity_recognition_ai/app/templates/index.html
  celebrity_recognition_ai/app/templates/layouts/base.html
  celebrity_recognition_ai/app/templates/predict.html
Due: none

fix(ci): fix needs instruction for job not appearing until merge to main and dev
  .gitlab-ci.yml
Due: check-yaml

fix(ci): replace branch names with a variable
  .gitlab-ci.yml
Due: check-yaml

feat: update api.py to receive image file and render templates
  celebrity_recognition_ai/app/api.py
Due: trailing-whitespace-fixer, end-of-file-fixer, check-docstring-first, check-merge-conflict, fix-encoding-pragma, no-commit-to-branch, check-added-large-files, code-formater, sort-imports, linter, test, bandit, semgrep

chore(ci): update servers URL
  .gitlab-ci.yml
Due: check-yaml

feat: update frontend.py to send image file to backend and show request status_code
  celebrity_recognition_ai/app/frontend.py
Due: trailing-whitespace-fixer, end-of-file-fixer, check-docstring-first, check-merge-conflict, fix-encoding-pragma, no-commit-to-branch, check-added-large-files, code-formater, sort-imports, linter, test, bandit, semgrep

feat: update Dockerfile in order to run all app (front+back connected)
  Makefile
  celebrity_recognition_ai/app/Dockerfile
  tests/test_api.py
  tests/test_empty.py
Due: trailing-whitespace-fixer, end-of-file-fixer, check-docstring-first, check-merge-conflict, fix-encoding-pragma, no-commit-to-branch, check-added-large-files, code-formater, sort-imports, linter, test, bandit, semgrep

fix(ci): add column after the if statement
  .gitlab-ci.yml
Due: check-yaml

feat: add type hint at parameters of __init__ inside models.py
  celebrity_recognition_ai/ml/models.py
Due: trailing-whitespace-fixer, end-of-file-fixer, check-docstring-first, check-merge-conflict, fix-encoding-pragma, no-commit-to-branch, check-added-large-files, code-formater, sort-imports, linter, test, bandit, semgrep

feat:add type hint for data and add unit tests for test_data
  celebrity_recognition_ai/ml/data.py
  ntbk.ipynb
  poetry.lock
  pyproject.toml
  tests/unit_tests/ml/test_data.py
Due: trailing-whitespace-fixer, end-of-file-fixer, check-docstring-first, check-merge-conflict, fix-encoding-pragma, no-commit-to-branch, check-added-large-files, code-formater, sort-imports, linter, test, bandit, semgrep

test: add another test to test_data
  celebrity_recognition_ai/app/frontend.py
  celebrity_recognition_ai/ml/data.py
  poetry.lock
  pyproject.toml
  tests/unit_tests/ml/test_data.py
Due: trailing-whitespace-fixer, end-of-file-fixer, check-docstring-first, check-merge-conflict, fix-encoding-pragma, no-commit-to-branch, check-added-large-files, code-formater, sort-imports, linter, test, bandit, semgrep

feat: update some features on web app
  celebrity_recognition_ai/app/api.py
  celebrity_recognition_ai/app/frontend.py
  celebrity_recognition_ai/app/static/img/Datakori-bold-green.png
  celebrity_recognition_ai/app/static/img/favicon.png
  celebrity_recognition_ai/app/templates/index.html
  celebrity_recognition_ai/app/templates/layouts/base.html
  celebrity_recognition_ai/app/templates/predict.html
Due: trailing-whitespace-fixer, end-of-file-fixer, check-docstring-first, check-merge-conflict, fix-encoding-pragma, no-commit-to-branch, check-added-large-files, code-formater, sort-imports, linter, test, bandit, semgrep

feat(ci): change main branch to release
  .gitlab-ci.yml
Due: check-yaml

feat: update for responsive design
  celebrity_recognition_ai/app/templates/index.html
  celebrity_recognition_ai/app/templates/layouts/base.html
  celebrity_recognition_ai/app/templates/predict.html
  celebrity_recognition_ai/app/utils.py
  for_mypy/__init__.py
  for_mypy/add.py
  for_mypy/add_with_execpted_args.py
  for_mypy/add_with_unexecpted_args.py
  tests/test_mypy.py
Due: trailing-whitespace-fixer, end-of-file-fixer, check-docstring-first, check-merge-conflict, fix-encoding-pragma, no-commit-to-branch, check-added-large-files, code-formater, sort-imports, linter, test, bandit, semgrep

feat: update predict page for meduim screen size
  celebrity_recognition_ai/app/static/img/Datakori-bold-green.png
  celebrity_recognition_ai/app/static/img/logo.png
  celebrity_recognition_ai/app/templates/layouts/base.html
  celebrity_recognition_ai/app/templates/predict.html
Due: none

feat: change bar chart orientation to horizontal
  celebrity_recognition_ai/app/templates/predict.html
Due: none

feat(ci): deploy with docker-compose.yml
  .gitlab-ci.yml
  celebrity_recognition_ai/docker-compose.yml
  deploy.sh
Due: check-yaml

fix(ci): update port of env port variable
  .gitlab-ci.yml
  celebrity_recognition_ai/docker-compose.yml
Due: check-yaml

refactor(ci): rename docker-compose file
  .gitlab-ci.yml
Due: check-yaml

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  trailing-whitespace-fixer: any of: \.py$
  end-of-file-fixer: any of: \.py$
  check-docstring-first: any of: \.py$
  check-merge-conflict: any of: \.py$
  fix-encoding-pragma: any of: \.py$
  no-commit-to-branch: any of: \.py$
  check-added-large-files: any of: \.py$
  code-formater: any of: \.py$
  sort-imports: any of: \.py$
  linter: any of: \.py$
  test: any of: \.py$
  bandit: any of: \.py$
  semgrep: any of: \.py$
